@import "tailwindcss";

:root {
	--background: oklch(95.835% 0.0086 16.611 / 0.995);
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
	:root {
		--background: #3a3a3a;
		--foreground: #ededed;
	}
} */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@theme {
	--breakpoint-xs: 30rem;
}
